<!DOCTYPE html>
<html>

<head>
<style>
ul {
list-style-type:none;
margin:0;
padding:0;
width:240px;
margin:0 auto;
}

h1{
color:red;
border:1px solid black;
text-align:center;
}

li{
display:inline-block;
border:1px solid black;
padding:10px;
background-color: rgb(91, 93, 99);
}

li:hover{
background-color: rgb(181, 183, 188);
}


li a{
color:white;
}


div img{
padding-left:30px;
}


div{
width:50%;
margin:0 auto;
}

</style>  

</head>

<body>

<ul>
<li><a href="index.html">HOME</a></li>
<li><a href="contact.html">CONTACT</a></li>
</ul>

<div>
<img width='200px' src='XXXXXXXXXXXXX.jpg'/>
</div>

<h1>Tomas Mac Cormaic</h1>
<br>
<p>Hi, my name is Tomas Mac Cormaic</p> 
<p>I am studying Computer Science at DBS. My student no. is 10511610</p>
<p>This making of this website is a task set in a Dockers Lab for the Web and Cloud Applications module.</p>
<br><br>
<p>This is flask website application running in a docker container on an aws ec2 instance.</p>
<p>The source code can be viewed on my Github repository at <a href='https://github.com/10511610dbs/lab4-repo.git'  target='_blank'   > A link to my Github repo </a>

</body>


</html>
